services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: file_uploader_backend
    environment:
      MONGO_URI: mongodb+srv://risabht043_db_user:Skt230144@cluster0.qzjapto.mongodb.net/file_uploader?retryWrites=true&w=majority&appName=Cluster0
      PORT: 3001
    ports:
      - "3001:3001"
    volumes:
      - ./backend:/app
      - /app/node_modules
      - upload_data:/app/uploads
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: file_uploader_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  upload_data:
